<!DOCTYPE html>
<html>
<head>
  <nav class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#front-page" class="brand-logo">Catnapp</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        
        <ul class="right hide-on-med-and-down">
          <li><a href="#map-page">View Spaces</a></li>
          <li><a href="#host-page">Create Spaces</a></li>
          <li><a href="#about">About</a></li>
          <% if user_signed_in? %>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
          <li><%= link_to('Login', new_user_session_path)  %></li>
          <% end %>
        </ul>
       
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#new_space">Create Spaces</a></li>
          <% if user_signed_in? %>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li><%= link_to('Login', new_user_session_path)  %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </nav>

  <title>Catnapp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
</head>
<body>

  <div id="front-page" class="fullscreen">
    <img src="https://download.unsplash.com/5/nose-up.jpg"> 
  </div>

  <div id="map-page" class="fullscreen">

    <br>
    <br>
    <br>

  <div id="map-canvas"></div>
    <div id="x" class="container">        
      <div id="space_info" class="row"></div>
    </div>
  </div>

  <div id="host-page" class="fullscreen">
    <div class="container">
      <h3 class="host-your-space">Host your space</h3>

      <%= form_for Space.new do |f| %>

      <div class="field">
        <%= f.label :address %><br>
        <%= f.text_field :address %>
      </div>
      <div class="field">
        <%= f.label :rate %><br>
        <%= f.number_field :rate %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description %>
      </div>
       <div class="field">
        <%= f.label :image %><br>
        <%= f.text_area :image %>
      </div>
       <div class="field">
        <%= f.label :email %><br>
        <%= f.text_area :email %>
      </div>
      <div>
        <%= f.hidden_field :lat %>
        <%= f.hidden_field :lng %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
      <% end %>

    </div>
  </div>

  <div id="about" class="fullscreen">
    <div class="container">
      <h1>About Catnapp</h1>
      <p>Catnapp is a web application that allows you to take a break from the daily grind and relax, whether that means taking a power nap or just having a quiet space to relax and do as you please. Catnapp takes your current location and finds nearby hosts that will allow you to rent their space/room for a specified period of time. These hosts will have user reviews and user comments as well as a personal profile. This is so that you (user) can see more information about the host, put a face to the space, and be put at ease during the duration of your stay.</p>
    </div>
  </div>

</body>

<footer>
  <div class="footer-copyright">
      <div>
        <h5>© 2015 Catnapp LLC</h5>
      </div>  
</footer>

</html>
