<!DOCTYPE html>
<!-- ༼ つ ◕_◕ ༽つ -->
<html>
<head>
  <nav class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#front-page" class="brand-logo">Catnapp</a>  
       
        <ul class="right hide-on-med-and-down">
          <li><a href="#map-page">View Spaces</a></li>
          <li><a href="#host-page">Create Spaces</a></li>
          <li><a href="#about">About</a></li>
          <% if user_signed_in? %>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
          <li><%= link_to('Login', new_user_session_path)  %></li>
          <% end %>
        </ul>
       
        <ul id="slide-out" class="side-nav">
          <li><a href="#map-page">View Spaces</a></li>
          <li><a href="#host-page">Create Spaces</a></li>
          <li><a href="#about">About</a></li>
          <% if user_signed_in? %>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li><%= link_to('Login', new_user_session_path)  %></li>
          <% end %>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </nav>
  </nav>

  <title>Catnapp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
</head>
<body>

  <div id="front-page" class="fullscreen">
    <img src="https://download.unsplash.com/5/nose-up.jpg"> 
  </div>

  <div id="map-page" class="fullscreen">

    <br>
    <br>
    <br>

  <div id="map-canvas"></div>
      <div id="space_info" class="row"></div>
  </div>

  <div id="host-page" class="fullscreen">
    <div id="host-space-wrapper" class="container">
      <h2 class="host-your-space">Host your space</h2>

      <%= form_for Space.new do |f| %>

      <div class="field">
        <%= f.label :address %><br>
        <%= f.text_field :address %>
      </div>
      <div class="field">
        <%= f.label :rate %><br>
        <%= f.text_field :rate %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description %>
      </div>
       <div class="field">
        <%= f.label :image %><br>
        <%= f.text_field :image %>
      </div>
       <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
      <div>
        <%= f.hidden_field :lat %>
        <%= f.hidden_field :lng %>
      </div>
      <div class="actions">
        <%= f.submit "Create Space", :id => "submit-button" %>
      </div>
      <% end %>

    </div>
  </div>

  <div id="about" class="fullscreen">
    <div class="container">
      <h2>About Catnapp</h2>
      <p class="flow-text">Have you ever been stuck at school, work, or jumping around from meeting to meeting and wished you had a place to just relax? Catnapp is a web application that affords you the  ability to do just that, relax. Catnapp takes your current location and finds nearby hosts that are willing to lend their space for a couple hours at a time. Power nap, study space, it’s up to you. So next time you’re feeling stressed and tired, find a Catnapp near you and reserve a space.</p>
    </div>
  </div>

</body>

<footer>
  <div class="footer-copyright">
      <div class="footer-header">
        <h7>
          © 2015 Catnapp LLC <br>
          Built using Ruby on Rails, Google Maps, and Materialize
        </h7>
      </div>  
</footer>

</html>
